<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number%></p>
<p><%= @restaurant.category %></p>


<h3> reviews: </h3>
<ol>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>, <%= (review.rating.to_s + " stars")%></li>
  <% end %>
</ol>


<div class="container">
  <div class="row">
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.label "your review:" %>
  <%= f.input :content %>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.submit "ADD REVIEW", class: "btn btn-primary" %>
<% end %>
</div>
</div>






<% #link_to "add review", new_restaurant_review_path(@restaurant), class: "btn btn-danger"%>
<%= link_to "return to index", restaurants_path, class: "btn btn-primary" %>


